.phones-row {
  display: flex;
  flex-direction: column;

  &--header {
    font-weight: bold;
    background-color: #e8fcd0;
  }

  &__wrapper {
    display: flex;
    justify-content: flex-end;
  }

  &__cell {
    display: flex;
    align-items: center;
    width: 60%;
    padding: 12px;
    border: 1px solid black;

    &:last-child {
      width: 40%;
    }

    &--big {
      font-size: 24px;

      @media (max-width: 480px) {
        font-size: 18px;
      }
    }
  }

  &__icon {
    transform: rotate(45deg);
    width: 16px;
    margin-right: 8px;
  }
}
